body {
    width: 100%;
    height: 100%;
    font-family: arial;
    line-height: 1.3;
}
  
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
  
#navbar {
    background-color: #f5f5f5;
    grid-area: nav;
    border-left: 2px;
    border-style: solid;
    border-color: gray;
    text-align: center;
    text-decoration: none;
    position: fixed;
    width: 20%;
    height: 100vh;
    overflow: auto;
    top: 0px;
    left: 0px;
}
  
.nav-box {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid gray;
    background-color: #f5f5f5;
}
  
main {
    background-color: white;
    grid-area: main;
    margin-left: 20%;
}
  
  .main-section {
    margin-left: 3%;
    margin-right: 8%;
}
  
  blockquote {
    background-color: lightgray;
    padding: 15px;
    line-height: 2;
    font-family: monospace;
    border-radius: 10px;
}
  
@media screen and (max-width: 768px) {
    #navbar {
      width: 100%;
      height: 25vh;
      top: 0px;
    }
    
    main {
      margin-top: 30vh;
      margin-left: auto;
    }
}